doctype html
html
  head
    title= title

    link(rel='apple-touch-icon', sizes="180x180", href="/apple-touch-icon.png")
    link(rel='icon', type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel='icon', type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel='manifest', href="/site.webmanifest")
    link(rel='mask-icon', href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#000000")
    meta(name="theme-color", content="#ffffff")
    meta(name="google-site-verification", content="ouOH93Dfsp00wKEm6FSC2mP5UQuBAuScTfpZVGRxkBg")

    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-135332-8")
    script.
      window.dataLayer = window.dataLayer || []
      function gtag(){dataLayer.push(arguments)}
      gtag('js', new Date())
      gtag('config', 'UA-135332-8')

    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.1/dist/jquery.fancybox.min.css')
    script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js')

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
    footer
      p © 2019 Spencer Flagg
